/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .minor-section {
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 10px #27017a;
    background-color: #6a4ea7;
  }

#content{
background-color: black;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
align-items: center;
min-height: fit-content;
}